.player__item {
    display: inline-block;
    padding: 20px 0;
    width: 100%;
}

.player__item__container {
    margin: 2px 0;
}

.player__item__container:hover {
    box-shadow: 0 2px 10px 1px rgba(57,73,76,.4), 0 1px 2px rgba(57,73,76,.25);
    background-color: #f2f2f2;
}

.player__results {
    width: 800px;
    display: inline-block;
}

.player__image {
    width: 100px;
    height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-left: 50px;
    float: left;
}