.Profile-image {
  width: 200px;
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin: 50px;
  float: left;
}

.Profile-info {
  display: inline-block;
}

.Profile-container {
  display: inline-block;
  width: 80%;
  margin-top: 20px;
}